RewriteEngine On
Options +FollowSymlinks

Rewriterule ^$ vote.php

	#EN
Rewriterule ^vote$ vote.php
Rewriterule ^results$ results.php
Rewriterule ^reset$ reset.php

	#NL
Rewriterule ^stem$ vote.php
Rewriterule ^resultaten$ results.php
# same reset rule as EN


	#Files Caching
<FilesMatch "\.(css|js|php)$">
Header set Cache-Control "max-age=29030400, public"
</FilesMatch>
<FilesMatch "\.(jpg|png|gif|ico|ttf|woff)$">
Header set Cache-Control "max-age=29030400, public"
</FilesMatch>
<FilesMatch "round.txt">
FileETag None
<ifModule mod_headers.c>
Header unset ETag
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</ifModule>
</FilesMatch>

	#Gzip Compression
<files *.php>
SetOutputFilter DEFLATE
</files>
<files *.css>
SetOutputFilter DEFLATE
</files>
<files *.js>
SetOutputFilter DEFLATE
</files>